h1{
    text-align: center;
    font-family: Arial;
  }
  .info{
    text-align: center;
  }

  body {
    background: linear-gradient(-45deg, #583b32, #f07aa7, #86cce5, #10e9b6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
   
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  
  table.center {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    table-layout: fixed;
  }
  
  td, th {
    border: 1px solid #060207;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #74c7d6;
  }
  div.info{
      
      text-align: center;
  }
  

h2{
    text-align: center;
    font-family: Arial;
}
  
    form{
    text-align: center;
    font-family: Arial;
    width: 100%;
    color: rgb(7, 5, 5);


 
    
  

  }